<h1>Result</h1>

<!-- <p>word <%= @word %></p>
<p>exits <%= @exits %></p>
<p>possible <%= @possible %></p>
<p>points <%= @points %></p>
<p>time <%= @time %></p>
<p>score <%= @score %></p> -->

<p><%= @message %></p>

<p><%= link_to 'new game', new_path %></p>
